[run]
branch = True
source = ebb_lint
omit =
    */test/*

[html]
directory = htmlcov-${TOX_ENVNAME}

[report]
exclude_lines =
    ✘py${COVERAGE_MAJOR}
    ✘py${COVERAGE_MAJORMINOR}
    pragma: no ?cover
